{
  "presets": [
    [
      // use ES6 rules without modules
      "es2015",
      {
        "modules": false
      }
    ],
    // necessary for spreads
    "stage-2"
  ],
  "ignore": [
    "node_modules/*"
  ]
}
